*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://cdn.evrimagaci.org/quzas3MKegpX_l749fJBbgig9nY=/evrimagaci.org%2Fpublic%2Fcontent_media%2Ff7c012314ee9c1cc6b4c3606aabc6412.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
}
h1{
    margin: 4rem 15rem;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 25px;
    background-color: tomato;
}